<template>
    <v-app color='secondary'>
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="secondary">
                                <v-layout row wrap align-center>
                                    <v-flex xs2 sm2 md2>
                                        <v-btn color="secondary" icon class="hidden-xs-only" v-on:click="back">
                                            <v-icon>arrow_back</v-icon>
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs8 sm8 md8>
                                        <v-toolbar-title color="accent" id="toolbarTitle">
                                            {{cityName}}
                                        </v-toolbar-title>
                                    </v-flex>
                                    <v-flex xs2 sm2 md2>
                                        <v-switch
                                            v-model="switchOn"
                                            :label= "`${tempMeasure}`" 
                                            color="red darken-3"
                                            @change="changeTempMeasure"
                                            hide-details
                                        ></v-switch>
                                    </v-flex>
                                </v-layout>
                            </v-toolbar>
                            <v-card-text>
                                <div id="today">
                                    <h3> {{today}} </h3>
                                    <span id="weatherDesc"> {{weatherDesc}} </span>
                                </div>
                                <v-layout row>
                                    <v-flex grow pa-1 >
                                        <span id="tempurature"> {{tempurature}} </span>
                                        <span class="iconify celsIcon" data-icon="mdi-temperature-celsius" data-inline="false"></span>
                                        <span class="iconify fahIcon" data-icon="mdi-temperature-fahrenheit" data-inline="false"></span>

                                        <v-img v-if="iconId"
                                            width="84px"
                                            :src="`http://openweathermap.org/img/w/${iconId}.png`"
                                            :lazy-src="`http://openweathermap.org/img/w/${iconId}.png`"
                                            aspect-ratio="1"
                                            ></v-img>
                                    </v-flex>
                                    <v-flex shrink pa-1 >
                                        <h5 class="todaysWeatherInfo">Wind: <span>{{windSpeed}} m/s</span></h5>
                                        <h5 class="todaysWeatherInfo">Pressure: <span>{{pressure}} hPa</span></h5>
                                        <h5 class="todaysWeatherInfo">Humidity: <span>{{humidity}} %</span></h5>
                                    </v-flex>
                                </v-layout>
                                <v-layout>
                                    <v-flex v-for="(day, index) in followingDays" v-if="index > 0" :key="`1${index}`">                                        
                                        <span class="followingDayNames"> {{followingDayNames[index-1]}} </span>
                                        <v-img v-if="index > 0"
                                            width="64px"
                                            class="followingDaysIcons"
                                            :src="`http://openweathermap.org/img/w/${day.weather[0].icon}.png`"
                                            :lazy-src="`http://openweathermap.org/img/w/${day.weather[0].icon}.png`"
                                            aspect-ratio="1"
                                        ></v-img>
                                       <div>
                                         <div class="followingDaysWrapper">
                                            <span class="followingDaysDegree"> {{day.main.temp}} </span>
                                            <span class="iconify followingDays celsIcon" data-icon="mdi-temperature-celsius" data-inline="false"></span>
                                            <span class="iconify followingDays fahIcon" data-icon="mdi-temperature-fahrenheit" data-inline="false"></span>
                                        </div>
                                       </div>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>  
</template>
<script>
import axios from 'axios';
import router from '../router';

export default {
    name: 'City',
    data() {
        return {
            switchOn: true,
            tempMeasure: "C",
            cityId: null,
            cityName: null,
            weather: null,
            followingDays: null,
            today: null,
            tempurature: null,
            pressure: null,
            humidity: null,
            weatherDesc: null,
            weatherMain: null,
            iconId: null,
            windSpeed: null,
            followingDayNames: null,
        }
    },
    methods: {
        changeTempMeasure() {
            this.tempMeasure = this.switchOn ? "C" : "F";
            this.changeTempMeasureMentIconsStatus();
            this.changeTempValues();           
        },
        changeTempValues() {
            this.followingDays.forEach(day => {
               day.main.temp = !this.switchOn ?((day.main.temp) * 9/5  + 32).toFixed(0) : ((day.main.temp - 32) * 5/9).toFixed(0);
           });

           this.tempurature = this.followingDays[0].main.temp;
        },
        changeTempMeasureMentIconsStatus() {
            if(!this.switchOn) {
                for(let i=0; i<document.getElementsByClassName("celsIcon").length; i++){
                    document.getElementsByClassName("celsIcon")[i].style.display = "none"
                }

                for(let i=0; i<document.getElementsByClassName("fahIcon").length; i++){
                    document.getElementsByClassName("fahIcon")[i].style.display = "block"
                }
            } else {
                 for(let i=0; i<document.getElementsByClassName("celsIcon").length; i++){
                    document.getElementsByClassName("celsIcon")[i].style.display = "block"
                }

                for(let i=0; i<document.getElementsByClassName("fahIcon").length; i++){
                    document.getElementsByClassName("fahIcon")[i].style.display = "none"
                }
            }
        },
        showSelectedIcon() {
            console.log(this.selectedIcon);
            return this.selectedIcon;
        },
        getWeatherDataByCityId() {
            axios.get("http://api.openweathermap.org/data/2.5/forecast?APPID=21e30bd7a399d39d5ffa9a62f832ddfb&id=" + this.cityId)
            .then(response => {
                this.weather = response.data;
                this.getFollowingDaysWeather();
            })
            .catch(error => {
                console.log(error);
            })
        },
        getFollowingDaysWeather() {
            this.cityName = this.weather.city.name;
            this.followingDays = this.weather.list.filter(function(value, index, l){
                return index === 0 || value.dt_txt.includes("12:00:00");
            });

            this.loadTodaysData();
            this.loadFollowingDaysData();
        },
        loadTodaysData() {
            this.tempurature = (this.followingDays[0].main.temp - 273.15).toFixed(0);
            this.pressure = this.followingDays[0].main.pressure;
            this.humidity = this.followingDays[0].main.humidity;
            let tempArray = this.followingDays[0].weather[0].description.split(" ");
            
            this.weatherDesc = [];
            tempArray.forEach(w => { this.weatherDesc.push(w.charAt(0).toUpperCase() + w.slice(1))})
            this.weatherDesc = this.weatherDesc.join(' ');

            this.weatherMain = this.followingDays[0].weather[0].main;
            this.iconId = this.followingDays[0].weather[0].icon;
            this.windSpeed = this.followingDays[0].wind.speed;

            this.followingDays.forEach(day => {
                day.main.temp = (day.main.temp - 273).toFixed(0);
            })

            
            this.getFollowingDays();
        },
        getFollowingDays() {
            this.followingDayNames = [];

            for (var i = 1; i <= this.followingDays.length-1; i++) {
                var currentDate = new Date();
                currentDate.setDate(currentDate.getDate() + i);
                this.followingDayNames.push(this.dayAsString(currentDate.getDay()));
            }
        },
        dayAsString(dayIndex) {
            const weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            return weekdays[dayIndex];
        },
        back() {
            router.push({ name: 'Home'});
        }
    },
    mounted() {
        this.cityId = this.$route.params.id;
        this.getWeatherDataByCityId();
        let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        this.today = new Date().toDateString('en-us', options);
    },
}
</script>

<style scoped>
#today {
    font-size: 2em; 
    text-align: left;
}

#weatherDesc {
    font-size: 0.5em;
}

.todaysWeatherInfo {
    text-align: left;
    color: #fe7f6c;
}

.todaysWeatherInfo > span{
    float: right;
    margin-left: 8px;
}

#tempurature, .iconify {
    font-size: 4em;
    color: #fe7f6c;
    float: left;
    padding: 0;
}

.iconify {
    height: 84px;
}

#weatherIcon {
    float: right;
    margin-right: 64px;
}

.followingDays {
    height: 16px;
    width: 16px;
    font-size: 2em;
}

.followingDaysDegree {
    float: left;
    color: #fe7f6c;
}

.followingDaysWrapper {
    margin-left: 22px;
}

.followingDayNames {
    font-size: 1em;
}

.fahIcon {
    display: none;
}

</style>