<template>
    <v-app color='secondary'>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="accent">
                <v-toolbar-title id="toolbarTitle">WEATHER</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-autocomplete
                    v-model="cityName"
                    :items="cities"
                    label="City"
                    prepend-inner-icon="place"
                    append-icon="search"
                    item-text="name"
                    @click:prepend-inner="loadCurrenctCity"
                    @click:append="searchCityWeather"
                    ></v-autocomplete>
                </v-form>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import json from '../model/city.list.json';
import axios from 'axios';
import router from '../router';

export default {
  name: 'Home',
  data () {
    return {
      cityName: null,
      cityId: null,
      latitude: null,
      longitude: null,
      currentCity: null,
      cities: []
    }
  },
  methods: {
    loadCurrenctCity() {
      this.getCurrentCityCoordinates();
    },
    getCurrentCityCoordinates() {
      axios.get("http://ip-api.com/json")
      .then(response => {
        this.currentCity = response.data;
        this.getCityName();
      })
      .catch(error => {
        console.log(error);
      });
      
    },
    getCityName() {
      if(!this.cityName) {
        const filteredCities = this.cities.filter(city => {
          return city.name === this.currentCity.city && city.country === this.currentCity.countryCode
        });

        this.cityName = filteredCities[0].name;
        this.cityId = filteredCities[0].id;
      } else {
        const filteredCities = this.cities.filter(city => {
          return city.name === this.cityName
        });

        this.cityId = filteredCities[0].id;
      }
    },
    searchCityWeather() {
      if(!this.cityId) {
        this.getCityName();
      }

      router.push({ name: 'City', params: { id: this.cityId }});
    },
    loadCities() {
      this.cities = json;
    }
  },
  mounted() {
    this.loadCities();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#toolbarTitle {
  margin: 0 auto;
  color: #000;
}
</style>
